body {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar *//* Navbar *//* Navbar *//* Navbar *//* Navbar *//* Navbar *//* Navbar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5%;
}

.nav-item {
  padding: 0 18px;
}

nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Title Section *//* Title Section *//* Title Section *//* Title Section *//* Title Section */
#title {
  background: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-left: 0;
  font-weight: bold;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width: 928px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}

  .title-btn {
    margin: 5% 3% 5% 0;
  }

  /* Feature Section *//* Feature Section *//* Feature Section *//* Feature Section */
  #features {
    padding: 7% 15%;
    background: #fff;
    position: relative;
  }

  .features-box {
    text-align: center;
  }

  .features-box h3 {
    font-weight: bold;
    size: 1.5rem;
  }

  .features-box p {
    color: #8f8f8f;
  }

  /* .test {
  height: auto;
} */
  .benifites {
    padding: 0 5%;
  }

  .faf {
    color: #ef8172;
    font-size: 4rem;
    margin: auto;
    padding-bottom: 3%;
  }

  .faf:hover {
    color: #ff4c68;
    /* font-size: 4.5rem; */
  }

  /* Testimonial Section *//* Testimonial Section *//* Testimonial Section *//* Testimonial Section *//* Testimonial Section */
  #testimonials {
    text-align: center;
    background: #ff4c68;
    color: #fff;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    padding: 0 10%;
  }

  .testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
  }

  .carousel-item {
    padding: 7% 15%;
  }

  /* Press Section */  /* Press Section */  /* Press Section */  /* Press Section */  /* Press Section */
  #press {
    padding: 0 15%;
    text-align: center;
    background: #ff4c68;
    padding-bottom: 5%;
  }

  .press-logo {
    padding: 0 3%;
    width: 20%;
  }

  /* Pricing Section  */  /* Pricing Section  */  /* Pricing Section  */  /* Pricing Section  */  /* Pricing Section  */
  #pricing {
    text-align: center;
    padding: 4% 10%;
  }
.card {
  border: 1px solid #ff4c68;
}

.btn-danger {
  background-color: #ff4c68;
  border-color: #ff4c68;
}
.btn-danger:hover {
  color: #8f8f8f;
  background-color: #fff;
  border-color: #ff4c68;
}
/* CTA */ /* CTA */ /* CTA */ /* CTA */ /* CTA */ /* CTA */

#cta {
  background: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 4% 10%;
}
.cta-h3 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 0 10%;
}
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER *//* FOOTER */ /* FOOTER */
#footer {
  background: #fff;
  text-align: center;
  padding: 4% 10%;
}
.footer-fa {
  margin: 0 15px 10px;
  color: #ff4c68;
}
.footer-p {
  color: #8f8f8f;
}
